.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.carousel-enter {
  opacity: 0.01;
}

.carousel-enter.carousel-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.carousel-leave {
  opacity: 1;
}

.carousel-leave.carousel-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*appear*/
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
h2 {
  font-size: 18px!important;
}

div#content {
  width: 100%;
  overflow: hidden;
}
body.container {
  word-wrap: break-word;
  box-sizing: border-box;
}